

.btn-main
    background-color blush
    border-radius 8px
    color #fff
    cursor pointer
    font 300 16px 'Museo'
    transition background 0.4s

    &:hover
        background-color blushHover

    &.-searchheader
        float right
        border-radius 0
        border-top-right-radius 8px
        border-bottom-right-radius 8px
        height 100%
        padding 0 25px

        @media ( max-width 510px )
            padding 0 20px
            font-size 30px

        &:after
            content 'pesquisar'

            @media ( max-width 510px )

                content '>'
    

           



