
//
// Header Static - Component
//

.header-static
    position absolute
    top 0
    left 0
    width 100%
    display none

    @media (max-width 849px)
        display none

    .logo
        float left
        margin-top 15px
        width 160px

        > img
            width 100%

    .btn
        float right
        margin 20px 0 0 25px
        padding 10px 15px
