

.header-fixed
    background #fff
    box-shadow 0 2px 3px 0 rgba(0, 0, 0, 0.15)
    position fixed
    top 0
    height 75px
    left 0
    width 100%
    z-index 3

    @media ( max-width 849px )
        height 55px

    @media (min-width 850px)
        display none

    .wrap
        display flex
        justify-content space-between
        flex-wrap wrap
        align-items center
    

    .btn-main
        padding 5px 15px
        
        @media ( max-width 849px )
            display none


    img

        @media ( min-width 950px )  
            margin-left -250px

        @media ( min-width 850px )
            height 55px

        @media ( max-width 849px )
            height 35px
            

    .icon
        background-color transparent
        cursor pointer
        padding 0 7px
        text-align center
        height 35px
        margin-right -5px
        width 45px

        @media ( min-width 850px )
            display none

        span
            display block
            border-top 2px solid #9d50bb
            position relative
            width 100%

            &:after
            &:before
                border-top 2px solid #9d50bb
                content ''
                left 0
                position absolute
                width 100%

            &:before
                top -10px

            &:after
                bottom -8px


            

