

.how-works
    background-color iceBlue
    border-top 2px solid blush
    padding 65px 20px
    text-align center
    margin-top 60px
    width 100%

    > .subtitle
        color purplishGrey
    
    > .desc
        color greyish
        margin-top 10px

    > .process-steps
        display flex
        justify-content space-between
        flex-wrap wrap
        margin 40px auto 0

        @media ( min-width 1200px )
            width 1060px

        @media ( max-width 1199px )
            width 95%

        @media ( max-width 1050px )
            justify-content space-around

        > .step-box
            margin-bottom 50px

    
    > .btn-main
        display inline-block
        
    

.step-box
    color #959fad
    width 230px

    > .icon
        box-shadow 0 0 6px 0 rgba(0, 0, 0, 0.05)
        background #fff
        border-radius 50%
        display inline-block
        height 138px
        width 138px

    > .name
        font 700 20px 'Museo'
        margin-top 15px
    
    > .desc
        line-height 1.38
        margin-top 10px

