

.newsletter-section
    background #625673
    border-top 2px solid blush
    text-align center
    padding 60px 20px
    width 100%

    > .title
        color #fff

    > .desc
        color #fff
        margin-top 10px
        line-height 1.6

        @media ( max-width 460px )
        
            br
                display none


    > .frm
        display inline-block
        margin-top 20px
        width 400px

        @media ( max-width 460px )
            width 100%


.email-newsletter
    background-color #fff
    border-radius 8px
    box-shadow 4px 4px 9px 0 rgba(70, 58, 88, 0.15)
    height 52px

    > .field
        color greyish
        outline none
        float left
        margin 5px 0 0 15px
        font 300 16px 'Museo'
        height 80%
        width 60%
