

.search-form
    background-color #fff
    border-radius 8px
    box-shadow 4px 4px 9px 0 rgba(70, 58, 88, 0.15)
    height 52px
    

    &.-header
        margin-top 60px
        display inline-block
        width 575px

        @media ( max-width 660px )
            width 100%

    > .icon
        float left
        margin 14px 0 0 20px
        
        @media ( max-width 398px )
            display none

        svg
            height 25px
            width 25px

    > .field
        color greyish
        outline none
        float left
        margin 5px 0 0 15px
        font 300 16px 'Museo'
        height 80%
        width 60%






