doctype
html( lang = 'pt-BR' )

    block vars

    head
        meta( charset = 'UTF-8' )
        base( href = '/livro-sem-apego/public/' )
        meta( name = 'viewport' content = 'width=device-width, initial-scale=1' )
        meta( name = "theme-color" content = "#625673" )
        link( rel = "stylesheet" href = "css/main.css" )
        link( rel = "stylesheet" href = "css/build.css" )
        link( rel = 'icon' href = 'img/favicon.ico' )
        
        if title
            - pipe = '-'
            
        title #{title} #{pipe} Livro sem Apego

    body( data-js=bodyjs )
        
        mixin menu() 
            a.item( href = 'books.html' ) Livros
            //- a.item( href = '' ) Desejados
            a.item( href = 'about.html' ) Sobre
            a.item( href = 'contact.html' ) Contato 
            
        .container
        
            include includes/header

            block content

            include includes/footer


        script.
            window.APIUrl = '/api/v1';

        script( src="js/build.js" )    
        script( src="js/app.js" )    

