RewriteEngine on

RewriteRule ^api/v1/?$ /api [L]

RewriteCond %{HTTP_HOST} ^livrosemapego.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.livrosemapego.com.br$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
