RewriteEngine on

RewriteCond %{HTTP_HOST} ^livrosemapego.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.livrosemapego.com.br$
RewriteCond %{REQUEST_URI} !public/
RewriteRule ^api/v1$ /public/api [L]
RewriteRule (.*) /public/$1 [L]
