* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,body {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

button {
  border: 0;
}

.btn,.header-fixed .icon {
  background-color: #f5807f;
  border-radius: 8px;
  color: #fff;
  font: 300 16px 'Museo';
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.btn:hover,.header-fixed .icon:hover {
  background-color: #ec7271;
}

.wrap {
  margin: 0 auto;
  max-width: 1115px;
  min-height: 100%;
}

.header-fixed {
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
  position: fixed;
  top: 0;
  height: 75px;
  left: 0;
  width: 100%;
}

.header-fixed .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-fixed .btn {
  padding: 5px 15px;
}

.header-fixed .icon {
  cursor: pointer;
  padding: 0 7px;
  text-align: center;
  height: 35px;
  width: 42px;
}

.header-fixed .icon span {
  display: block;
  border-top: 2px solid #fff;
  position: relative;
  width: 100%;
}

.header-fixed .icon span:after,.header-fixed .icon span:before {
  border-top: 2px solid #fff;
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
}

.header-fixed .icon span:before {
  top: -10px;
}

.header-fixed .icon span:after {
  bottom: -8px;
}

.header-menu.-static {
  color: #fff;
  float: right;
  margin-top: 30px;
}

.header-menu.-fixed {
  color: #625673;
}

.header-menu > .menuitem {
  display: inline-block;
  margin: 0 10px;
  font: 300 16px 'Museo';
  letter-spacing: 0.5px;
}

.header-menu > .menuitem:after {
  background-color: #f5807f;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 5px;
  margin-left: 15px;
  vertical-align: middle;
  width: 5px;
}

.header-menu > .menuitem:hover {
  text-decoration: underline;
}

.header-menu > .menuitem:last-child:after {
  display: none;
}

.header-static {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.header-static .logo {
  float: left;
  margin-top: 15px;
  width: 160px;
}

.header-static .logo > img {
  width: 100%;
}

.header-static .btn {
  float: right;
  margin: 20px 0 0 25px;
  padding: 10px 15px;
}

.search-home {
  background: -webkit-linear-gradient(left, #9d50bb, #6e48aa);
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  height: 550px;
  width: 100%;
}

@font-face {
  font-family:'Museo';font-weight:300;src:url("fonts/museo-300.woff") format('woff');font-style:normal;
}

@font-face {
  font-family:'Museo';font-weight:500;src:url("fonts/museo-500.woff") format('woff');font-style:normal;
}

@font-face {
  font-family:'Museo';font-weight:700;src:url("fonts/museo-700.woff") format('woff');font-style:normal;
}

@media (min-width: 850px) {
  .header-fixed img {
    height: 55px;
    margin-left: -250px;
  }

  .header-fixed .icon {
    display: none;
  }
}

@media (max-width: 1200px) {
  .wrap {
    padding: 0 20px;
  }
}

@media (max-width: 849px) {
  .header-fixed {
    height: 55px;
  }

  .header-fixed .btn {
    display: none;
  }

  .header-fixed img {
    height: 35px;
  }

  .header-menu.-fixed {
    display: none;
  }

  .header-static {
    display: none;
  }
}
