* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  padding-bottom: 150px;
}

html,body {
  min-height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

input,button {
  border: 0;
}

h1 {
  font: 700 36px 'Museo';
}

h2 {
  font: 700 26px 'Museo';
}

p {
  font: 300 16px 'Museo';
}

.wrap {
  margin: 0 auto;
  max-width: 1115px;
  min-height: 100%;
}

.about-project {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.about-project:before {
  box-shadow: 3px -5px 5px -1px rgba(0,0,0,0.05), -3px -5px 5px -1px rgba(0,0,0,0.05);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #fff;
  content: '';
  position: absolute;
  left: 0;
  height: 165px;
  width: 100%;
}

.about-project > .desc,.about-project > .subtitle {
  position: relative;
}

.about-project > .subtitle {
  color: #625673;
  text-align: center;
  width: 100%;
}

.about-project > .desc {
  margin: 10px auto 0;
  line-height: 1.62;
  color: #adadad;
}

.about-project > h3 {
  border: 1px solid #625673;
  color: #625673;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 50px;
  font: 700 12px/1 'Museo';
  padding: 10px 25px;
  width: 120px;
}

.about-project > .btn-main {
  margin-top: 80px;
  display: inline-block;
}

.author-boxes {
  width: 100%;
}

.author-boxes > .author-box {
  width: 200px;
}

.author-box {
  display: inline-block;
}

.author-box > .photo {
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.05);
  padding: 15px;
}

.author-box > .photo > img {
  display: block;
  border-radius: 50%;
  width: 100%;
}

.author-box > .name {
  color: #625673;
  font: 700 20px 'Museo';
  margin-top: 20px;
}

.btn-main {
  background-color: #f5807f;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font: 300 16px 'Museo';
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  padding: 10px 16px;
}

.btn-main:hover {
  background-color: #ec7271;
}

.btn-main.-inside {
  float: right;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  padding: 0 25px;
}

.btn-main.-inside:after {
  content: attr(data-text);
}

.header-fixed {
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
  position: fixed;
  top: 0;
  height: 75px;
  left: 0;
  width: 100%;
  z-index: 3;
}

.header-fixed .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-fixed img {
  display: block;
}

.header-fixed .icon {
  background-color: transparent;
  cursor: pointer;
  padding: 0 7px;
  text-align: center;
  height: 35px;
  margin-right: -5px;
  width: 45px;
}

.header-fixed .icon span {
  display: block;
  border-top: 2px solid #9d50bb;
  position: relative;
  width: 100%;
}

.header-fixed .icon span:after,.header-fixed .icon span:before {
  border-top: 2px solid #9d50bb;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

.header-fixed .icon span:before {
  top: -10px;
}

.header-fixed .icon span:after {
  bottom: -8px;
}

.header-menu.-static {
  color: #fff;
  float: right;
  margin-top: 30px;
}

.header-menu.-fixed {
  color: #625673;
}

.header-menu > .menuitem {
  display: inline-block;
  margin: 0 10px;
  font: 300 16px 'Museo';
  letter-spacing: 0.5px;
}

.header-menu > .menuitem:after {
  background-color: #f5807f;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 5px;
  margin-left: 15px;
  vertical-align: middle;
  width: 5px;
}

.header-menu > .menuitem:hover {
  text-decoration: underline;
}

.header-menu > .menuitem:last-child:after {
  display: none;
}

.header-search {
  background: -webkit-linear-gradient(left, #9d50bb, #6e48aa);
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  color: #fff;
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 100%;
}

.header-search:before {
  background: url("../img/header-woman-bg.png") 0 0 no-repeat;
  content: '';
  position: absolute;
  left: calc(50% + 300px);
  top: -75px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 544px;
  width: 597px;
}

.header-search > .title,.header-search > .desc,.header-search > .search-form {
  position: relative;
}

.header-search > .title {
  color: #fff;
}

.header-search > .desc {
  margin-top: 10px;
  font: 300 16px 'Museo';
  position: relative;
}

.header-search > .desc:after {
  background-color: #f5807f;
  border-radius: 30px;
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 4px;
  width: 42px;
}

.header-static {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header-static .logo {
  float: left;
  margin-top: 15px;
  width: 160px;
}

.header-static .logo > img {
  width: 100%;
}

.header-static .btn-main {
  float: right;
  margin: 20px 0 0 25px;
  padding: 10px 15px;
}

.how-works {
  background-color: #f8fbff;
  border-top: 2px solid #f5807f;
  padding: 70px 20px;
  text-align: center;
  margin-top: 60px;
  width: 100%;
}

.how-works > .subtitle {
  color: #625673;
}

.how-works > .desc {
  color: #adadad;
  margin-top: 10px;
}

.how-works > .process-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 40px auto 0;
}

.how-works > .process-steps > .step-box {
  margin-bottom: 50px;
}

.how-works > .btn-main {
  display: inline-block;
}

.step-box {
  color: #959fad;
  width: 230px;
}

.step-box > .icon {
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.05);
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 138px;
  width: 138px;
}

.step-box > .name {
  font: 700 20px 'Museo';
  margin-top: 15px;
}

.step-box > .desc {
  line-height: 1.38;
  margin-top: 10px;
}

.newsletter-section {
  background: #625673;
  border-top: 2px solid #f5807f;
  text-align: center;
  padding: 60px 20px;
  width: 100%;
}

.newsletter-section > .title {
  color: #fff;
}

.newsletter-section > .desc {
  color: #fff;
  margin-top: 10px;
  line-height: 1.6;
}

.newsletter-section > .frm {
  display: inline-block;
  margin-top: 20px;
  width: 400px;
}

.email-newsletter {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 9px 0 rgba(70,58,88,0.15);
  height: 52px;
}

.email-newsletter > .field {
  color: #adadad;
  outline: none;
  float: left;
  margin: 5px 0 0 15px;
  font: 300 16px 'Museo';
  height: 80%;
  width: 60%;
}

.search-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 9px 0 rgba(70,58,88,0.15);
  height: 52px;
}

.search-form.-header {
  margin-top: 60px;
  display: inline-block;
  width: 575px;
}

.search-form > .icon {
  float: left;
  margin: 14px 0 0 20px;
}

.search-form > .icon svg {
  height: 25px;
  width: 25px;
}

.search-form > .field {
  color: #adadad;
  outline: none;
  float: left;
  margin: 5px 0 0 15px;
  font: 300 16px 'Museo';
  height: 80%;
  width: 60%;
}

@font-face {
  font-family:'Museo';font-weight:300;src:url("fonts/museo-300.woff") format('woff');font-style:normal;
}

@font-face {
  font-family:'Museo';font-weight:500;src:url("fonts/museo-500.woff") format('woff');font-style:normal;
}

@font-face {
  font-family:'Museo';font-weight:700;src:url("fonts/museo-700.woff") format('woff');font-style:normal;
}

@media (min-width: 451px) {
  .author-box > .name {
    margin-top: 20px;
  }
}

@media (min-width: 645px) {
  .author-boxes {
    margin-top: 70px;
  }

  .author-boxes > .author-box {
    margin: 0 50px;
  }

  .author-box > .photo {
    width: 100%;
  }
}

@media (min-width: 750px) {
  .about-project > .desc {
    width: 60%;
  }
}

@media (min-width: 850px) {
  .about-project:before {
    top: -80px;
  }

  .header-fixed {
    display: none;
  }

  .header-fixed img {
    height: 55px;
  }

  .header-fixed .icon {
    display: none;
  }

  .header-search {
    height: 550px;
  }

  .header-search > .title {
    margin-top: 170px;
  }
}

@media (min-width: 950px) {
  .header-fixed img {
    margin-left: -250px;
  }
}

@media (min-width: 1130px) {
  .about-project {
    width: 1075px;
  }
}

@media (min-width: 1200px) {
  .how-works > .process-steps {
    width: 1060px;
  }
}

@media (max-width: 1200px) {
  .wrap {
    padding: 0 20px;
  }
}

@media (max-width: 1199px) {
  .how-works > .process-steps {
    width: 95%;
  }
}

@media (max-width: 1130px) {
  .about-project {
    width: calc(100% - 40px);
  }
}

@media (max-width: 1050px) {
  .how-works > .process-steps {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 850px) {
  .header-search:before {
    display: none;
  }
}

@media (max-width: 849px) {
  .about-project:before {
    top: -40px;
  }

  .header-fixed {
    height: 55px;
  }

  .header-fixed .btn-main {
    display: none;
  }

  .header-fixed img {
    height: 35px;
  }

  .header-menu.-fixed {
    display: none;
  }

  .header-search {
    padding: 100px 20px;
  }

  .header-static {
    display: none;
  }
}

@media (max-width: 749px) {
  .about-project > .desc {
    width: 80%;
  }
}

@media (max-width: 660px) {
  .search-form.-header {
    width: 100%;
  }
}

@media (max-width: 644px) {
  .about-project > .btn-main {
    margin-top: 30px;
  }

  .author-boxes {
    margin-top: 50px;
  }

  .author-boxes > .author-box {
    margin: 0 15px 30px;
  }

  .author-box > .photo {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .header-search > .title {
    font-size: 29px;
  }
}

@media (max-width: 510px) {
  .btn-main.-inside {
    padding: 0 20px;
    font-size: 30px;
  }

  .btn-main.-inside:after {
    content: '>';
  }

  .header-search > .desc {
    padding: 0 20px;
  }

  .header-search > .desc br {
    display: none;
  }
}

@media (max-width: 460px) {
  .newsletter-section > .desc br {
    display: none;
  }

  .newsletter-section > .frm {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .about-project > .desc {
    width: 90%;
  }

  .author-box > .name {
    margin-top: 5px;
  }
}

@media (max-width: 398px) {
  .search-form > .icon {
    display: none;
  }
}
