
//-
//- Header
//-

mixin menu() 
    a.menuitem( href = '' ) Livros
    a.menuitem( href = '' ) Desejados
    a.menuitem( href = '' ) Sobre
    a.menuitem( href = '' ) Contato 


header.header-static: .wrap

    a.logo( href = '' ): img( src = 'img/livro-sem-apego-logo.png' alt = 'Livro sem Apego - Logo' )
    a( class = 'btn-main' href = '' ) Minha conta
    nav( class = 'header-menu -static' ): +menu()

header.header-fixed: .wrap

    nav( class = 'header-menu -fixed' ): +menu()
    img( src = 'img/icon-livro-sem-apego.svg' alt = 'Ícone - Livro sem Apego' )
    button.icon: span
    a( class = 'btn-main' href = '' ) Minha Conta



