
.mt20
    margin-top 20px


.container .preloader
    display inline-block
    text-align center
    max-width 100%


.wrap 
    margin 0 auto
    max-width 1115px
    min-height 100%

    @media ( max-width 1200px )
        padding 0 20px


.g-recaptcha
    width 100%
