

//
// Font Museo - Sans and Rounded
//

@font-face 
    font-family 'Museo'
    font-weight 400
    src url('fonts/museo-300.woff') format('woff')
    font-style normal



@font-face 
    font-family 'Museo'
    font-weight 500
    src url('fonts/museo-500.woff') format('woff')
    font-style normal


@font-face 
    font-family 'Museo'
    font-weight 700
    src url('fonts/museo-700.woff') format('woff')
    font-style normal
