RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^sobre/?$ about.html
RewriteRule ^contato/?$ contact.html
RewriteRule ^livros/?$ books.html
RewriteRule ^livros/([^/]+)/?$ books-internal.html

AddType image/svg+xml svg svgz
