RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^sobre/?$ about.html
RewriteRule ^contato/?$ contact.html
RewriteRule ^livros/?$ books.html
RewriteRule ^livros/([^/]+)/?$ books-internal.html
RewriteRule ^login/?$ login.html
RewriteRule ^painel/?$ user-dashboard.html
RewriteRule ^painel/perfil/?$ user-profile.html
RewriteRule ^painel/livros/?$ user-donated-books.html
RewriteRule ^painel/livros/doar-livros/?$ user-register-book.html
RewriteRule ^painel/livros/doar-livros/([^\/]+)/?$ user-edit-book.html

AddType image/svg+xml svg svgz
