
.wrap 
    margin 0 auto
    max-width 1115px
    min-height 100%

    @media ( max-width 1200px )
        padding 0 20px


.frm-box
    background lightGrey
    position relative
    padding 20px
    border-radius 8px
    margin-top 20px
    width 100%

    
.field-box
    display block
    margin-bottom 20px
    width 100%

    > .name
        color purplishGrey
        display block
        font 300 16px 'Museo'

    > .field
        display block
        width 100%
