doctype
html( lang = 'pt-BR' )

    head
        meta( charset = 'UTF-8' )
        link( rel="stylesheet" href="css/main.css" )
        title Test

    body

        block content

            
        script( src="js/react.js" )
        script( src="js/main.js" )
            




