extends ../main


block content

    .search-home

        //- h1 Tá afim de ganhar um livro?
        //- p Faça uma pesquisa e descubra se o livro que você deseja está disponível para doação ainda hoje (:
