

.books-container
    display flex
    justify-content space-between
    flex-wrap wrap
    margin 0 auto
    padding 60px 0
    width 1115px

    > .filter
        width 250px


.list-books
    width 800px

.title-list
    padding-top 20px
    border-bottom 1px solid lightGrey

.grid-books
    display flex
    justify-content flex-start
    flex-wrap wrap
    width 100%


.book-box
    margin 20px
    width 120px
    
    > .image
        width 100%

    > .name
        color purplishGrey
        font-size 16px
        margin-top 5px
        width 100%

    > .author
        color greyish
        font 300 14px 'Museo'
        margin-top 5px
        display block


