

.donated-books
    display flex
    justify-content space-between
    flex-wrap wrap
    padding-top 30px
    width 100%

    @media ( max-width 825px )
        flex-direction column
        align-content center


    > .nobooks
        color #adadad

        > a
            color purplishGrey

    > .title
        color purplishGrey
        font-size 18px
        margin-bottom 20px
        width 100%


.donated-book
    border-radius 8px
    border 1px solid lightGrey
    padding 20px
    margin-bottom 30px
    max-width 380px
    text-align center
    display flex
    justify-content center
    align-items flex-start
    flex-wrap wrap
    width 100%

    > .btn-main
        display inline-block
        margin-top auto
        width 50%

        @media ( max-width 425px )
            width 100%

    > .image
    > .infos
        vertical-align top
        display inline-block

    > .image
        background lightGrey
        height 180px
        display flex
        justify-content center
        align-items center
        width 35.294% // 120px

        @media ( max-width 425px )
            width 30%

        > img
            object-fit cover
            height 100%
            width 100%

            &[src="img/books/book.png"]
                object-fit initial
                max-height 100%
                height auto
                opacity 0.5
                width 80%

    > .infos
        text-align left
        color greyish
        padding-left 20px
        width 60% 
        
        @media ( max-width 425px )
            width 70%


        > .name
            color purplishGrey
            font-size 20px

        > .author
            border-bottom 1px solid lightGrey
            font 500 16px 'Museo'
            padding-bottom 10px
            margin-top 5px

        > p
            margin-top 10px

            strong
                color purplishGrey
        
        > .btn-main
            display inline-block
            margin-top 10px



.status-book
    padding 10px 0
    margin-bottom 15px

    > p
        display inline-block
    
    > .status   
        display inline-block
        margin 5px 0 0 5px
        position relative

        > label
            background greyish
            border-radius 8px
            color #fff
            padding 5px 10px 3px
            font 300 14px/1 'Museo'
            display inline-block
            text-transform uppercase
            text-align center
            width 51px

            &:after
                content 'Não'
        
        > input
            cursor pointer
            opacity 0
            position absolute
            top 0
            left 0
            height 100%
            width 100%

            &:checked + label
                background #63cc67
                
                &:after
                    content 'Sim'

