

footer
    background-image linear-gradient(to right, initialGradient, finalGradient)
    text-align center
    padding-top 30px
    width 100%

    svg
        height 55px
        width 49px

    > .menu-nav
        color #fff
        margin-top 20px

        > .item
            margin-bottom 10px

    > .copyright
        background purplishGrey
        display block
        color #bfaadd
        font 300 12px 'Museo'
        padding 20px
        margin-top 20px
        width 100%
