

.forget-password
    margin 0 auto
    padding 60px 0
    text-align center
    width 350px

    @media ( max-width 400px )
        padding 60px 20px
        width 100%

    > .desc
        color greyish
        margin-bottom 30px

   
