

.form-styl
    position relative
    text-align left
    width 100%

    > .forgetpass
        color greyish
        cursor pointer
        display inline-block
        margin-top 10px
        font 300 14px 'Museo'
        text-align center
        width 100%

        &:hover
            text-decoration underline


.field-box
    display block
    margin-bottom 20px
    width 100%

    > .name
        color purplishGrey
        display block
        font 300 16px 'Museo'

    > .field
        border 1px solid lightGrey
        background #fff
        color greyish
        display block
        border-radius 8px
        margin-top 8px
        font 300 16px 'Museo'
        padding-left 10px
        width 100%

    > select.field     
    > input.field 
        height 40px
        

    > textarea.field
        height 100px
        padding 10px

