

.form-styl
    position relative
    text-align left
    width 100%

    > .forgetpass
        color greyish
        cursor pointer
        display inline-block
        margin-top 10px
        font 300 14px 'Museo'
        text-align center
        width 100%

        &:hover
            text-decoration underline

    > .btn-main
        margin-top 20px


.field-box
    display block
    margin-bottom 20px
    width 100%

    &.-cep

        > .field
            display inline-block
            width 150px

        > a
            color greyish
            display inline-block
            margin-left 15px
            font 15px 'Museo'

            &:hover
                text-decoration underline

    
    &.-picture

        > span strong
            font-weight 300
            color greyish
            font-size 13px

        > .photo
            display inline-block
            border-radius 50%
            object-fit cover
            height 70px
            position relative
            overflow hidden
            margin-top 10px 
            width 70px

            > svg
                display block
                height 100%
                width 100%

            > input
                opacity 0
                position absolute
                top 0
                left 0
                height 100%
                width 100%


    &.-border
        border-top  1px solid lightGrey
        padding-top 30px
        margin-top 10px

    > .name
        color purplishGrey
        display block
        font 300 16px 'Museo'

    > .field
        border 1px solid lightGrey
        background #fff
        color greyish
        display block
        border-radius 8px
        margin-top 8px
        font 300 16px 'Museo'
        padding-left 10px
        width 100%

        &.-pass
            width 300px

    > select.field     
    > input.field 
        height 40px
        

    > textarea.field
        height 100px
        padding 10px


    

