

.frm-box
    background lightGrey
    position relative
    padding 20px
    border-radius 8px
    margin-top 20px
    width 100%


    > .btn-main
        width 100px

    
.field-box
    display block
    margin-bottom 20px
    width 100%

    > .name
        color purplishGrey
        display block
        font 300 16px 'Museo'

    > .field
        display block
        border-radius 8px
        margin-top 10px
        padding-left 10px
        width 100%
        
    > input.field 
        height 40px

    > textarea.field
        height 100px
        padding 10px

