


.header-static
    position absolute
    top 0
    left 0
    width 100%
    z-index 2
    
    @media (max-width 849px)
        display none

    .logo
        float left
        margin-top 15px
        width 160px

        > img
            width 100%

    .btn-main
        float right
        margin 20px 0 0 25px
        padding 10px 15px



.header-fixed
    background #fff
    box-shadow 0 2px 3px 0 rgba(0, 0, 0, 0.15)
    position fixed
    top 0
    height 75px
    left 0
    width 100%
    z-index 10

    @media ( max-width 849px )
        height 55px

    @media (min-width 850px)
        display none

    .wrap
        display flex
        justify-content space-between
        flex-wrap wrap
        align-items center
    

    .btn-main
        
        @media ( max-width 849px )
            display none


    svg
        float left
        
        
        @media ( min-width 1100px )  
            margin-left -150px

        @media ( min-width 850px )
            height 55px
            width 49px

        @media ( max-width 849px )
            height 55px
            width 33px
            

    .icon
        background-color transparent
        cursor pointer
        padding 0 7px
        text-align center
        height 35px
        margin-right -5px
        width 45px

        @media ( min-width 850px )
            display none

        span
            display block
            border-top 2px solid purplishGrey
            position relative
            width 100%

            &:after
            &:before
                border-top 2px solid purplishGrey
                content ''
                left 0
                position absolute
                width 100%

            &:before
                top -10px

            &:after
                bottom -8px




.menu-mobile     
    overflow hidden       
    
    @media (min-width 850px)
        display none

    @media (max-width 849px)
        background rgba(0,0,0,0.3)
        position fixed
        height 100%
        right 0
        top 0
        text-align right
        visibility hidden
        transition all 0.3s ease
        opacity 0
        width 100%
        z-index 10

        &.-active
            visibility visible
            opacity 1

           

        > .items
            transform translateX(20%)
            opacity 0
            background purplishGrey
            height 100%
            display inline-block
            transition all 0.3s ease-in-out

            @media ( min-width 401px )
                width 250px

            @media ( max-width 400px )
                width 80%

            &.-active
                transform translateX(0)
                opacity 1
                


        .icon   
            background none
            fill #fff
            float right
            cursor pointer
            height 55px
            text-align center
            position relative
            display flex
            align-items center
            justify-content center
            width 75px

            svg
                pointer-events none
                display inline-block
                height 50%
                width 50%


        nav
            float left
            text-align left
            padding 10px 0
            width 100%

            a
                color #fff
                display block
                font 700 21px 'Museo'
                padding 20px 25px
                position relative

                &:after
                    background-color blush
                    border-radius 30px
                    content ''
                    position absolute
                    bottom -4px
                    left 25px
                    height 4px
                    width 42px


