

.login-page
    margin 0 auto
    padding 60px 0
    text-align center
    width 350px

    @media ( max-width 400px )
        padding 60px 20px
        width 100%

    > .register
        color greyish
        display inline-block
        margin-top 20px
        font 300 14px 'Museo'
        width 100%

        > strong
            color purplishGrey

        &:hover
            text-decoration underline
