
//
// Need books
//

.need-books
    border-bottom 2px solid blush
    text-align center
    padding 70px 20px
    width 100%

    > .title
        color purplishGrey

    > .desc
        color greyish
        margin-top 10px
        line-height 1.6

        @media ( max-width 460px )
        
            br
                display none


    > .btn-main
        display inline-block
        margin-top 20px
