

.newsletter-section
    border-top 2px solid blush
    text-align center
    padding 70px 20px
    width 100%

    > .title
        color purplishGrey

    > .desc
        color greyish
        margin-top 10px
        line-height 1.6

        @media ( max-width 460px )
        
            br
                display none


    > .frm
        display inline-block
        margin-top 20px
        width 400px

        @media ( max-width 460px )
            width 100%

    .success
    .error
        font-size 12px
        text-align left
        padding 10px 0 0 10px

    .error
        color red

    .success
        color green



.email-newsletter
    border 1px solid lightGrey
    background-color #fff
    border-radius 8px
    box-shadow 2px 2px 4px 0 rgba(70,58,88,0.05)
    height 52px
    
    > .field
        color greyish
        outline none
        float left
        margin 5px 0 0 15px
        font 300 16px 'Museo'
        height 80%
        width 60%

        
