

.social-networks
    margin-top 10px

    > a
        display inline-block
        height 22px
        margin 0 5px
        width 22px
        
        &.fb
            background url(../img/sprite.png) 0 0 no-repeat
        
        &.in
            background url(../img/sprite.png) -24px 0 no-repeat

        &.tw
            background url(../img/sprite.png) -49px 0 no-repeat
