
html
body
    min-height 100%
    width 100%

html
    position relative

body
    
    @media ( min-width 410px )
        padding-bottom 260px

a
    color inherit

input
button
    border 0

h2
    font 700 26px 'Museo'

p
    font 300 16px 'Museo'
    

textarea
    resize none
