

footer

    a( href = '' ): svg: use( xlink:href="img/svg.svg#icon-livro-sem-apego" )
    .social
        a( href = 'https://github.com/mtsalcova/livro-sem-apego' target = '_blank' title = 'Github' ): svg: use( xlink:href="img/svg.svg#icon-github" )
        a( href = 'https://www.facebook.com/livrosemapego/' target = '_blank' title = 'Facebook' ): svg: use( xlink:href="img/svg.svg#icon-facebook" )

    nav.menu-nav: +menu()
    strong.copyright Todos os Direitos Reservados - Livro Sem Apego - 2017

