

section.newsletter-section

    h2.title Quer receber novidades?
    p.desc Preencha seu e-mail abaixo e fique por dentro<br> dos últimos livros cadastrados da semana! ;)
    
    form.frm( method = 'POST' )

        .email-newsletter
            input.field( type = 'email' placeholder = 'Digite seu e-mail' )
            button.btn-main.-inside( data-text = 'Cadastrar' )
