


aside.sidebar

    strong.btn Menu

    nav.sidebar-nav
        a.baritem( href = 'painel' ) Início
        a.baritem( href = 'painel/editar-cadastro' ) Editar Cadastro
        a.baritem( href = 'painel/livros' ) Livros
        a.baritem( href = '' ) Sair
