


aside.sidebar

    strong Menu

    nav.sidebar-nav
        a.baritem( href = 'user-dashboard.html' ) Início
        a.baritem( href = 'user-profile.html' ) Editar Cadastro
        a.baritem( href = 'user-books.html' ) Livros
        a.baritem( href = '' ) Sair
