
// 
//  Color Variables
//


purplishGrey = #625673   
greyish = #808080
//#adadad
lightGrey = #ececec
iceBlue = #f8fbff
blush = #f5807f
blushHover = #ec7271
offWhite = #fefaeb
initialGradient = #9d50bb
finalGradient = #6e48aa
error = #ff3939


