extends ../main


block vars
    - title = 'Sobre'


block content


    section.title-main
        h1.title.-line Sobre o Projeto

    // About
    main.about-block.-internal
        p.desc Livro sem apego é um site de doação de livros, sem fins lucrativos, desenvolvido como um trabalho de conclusão de curso por 2 desenvolvedores.
        p.desc A ideia do projeto surgiu através de uma necessidade de ajudar alguém que esteja precisando de um livro, mas não tem condições de comprá-lo ou simplesmente gostaria de ganha-lo. Com isso, nosso objetivo é facilitar e tornar acessível o contato entre o leitor e o livro desejado.
        p.desc O projeto em sí, é apenas um intermediador entre o doador e o interessado em ganhar um livro. Somos então, responsáveis por mostrar os livros disponíveis para doação e também, mostrar os livros desejados.
        p.desc A Mecânica da doação é bem simples, basta se cadastrar e após isso, cadastrar algumas informações básicas do livro, tais como: foto, título, gênero etc. Com isso, o livro ficará disponível para doação e o interessado entrará em contato para combinarem a forma de entrega do livro.

        h2.subtitle Criadores
        p.desc O projeto foi criado por 2 alunos que estavam cursando Análise e Desenvolvimento de Sistemas no Centro Universitário N. Sra. Do Patrocínio (CEUNSP), como trabalho de conclusão de curso.

        .author-boxes
            .author-box
                .photo: img( src = 'img/authors/gustavo-feijo.jpg' alt = 'Gustavo Feijó'  )
                h3.name Gustavo F. Lima
                .social-networks
                    a.fb(href = 'https://www.facebook.com/gustavo.feijo.90' title = 'Facebook'  target = '_blank' )
                    a.in(href = 'https://www.instagram.com/gustavofeijo_/' title = 'Instagram'  target = '_blank' )
                    a.tw(href = 'https://twitter.com/GuustavoFeijoo' title = 'Twitter'  target = '_blank' )

            .author-box
                .photo: img( src = 'img/authors/mateus-alcova.jpg' alt = 'Mateus Alcova'  )
                h3.name Mateus Alcova
                .social-networks
                    a.fb(href = 'https://www.facebook.com/mateus.alcova' title = 'Facebook'  target = '_blank' )
                    a.in(href = 'https://www.instagram.com/mtsalcova/' title = 'Instagram'  target = '_blank' )
                    a.tw(href = 'https://twitter.com/mtsalcova' title = 'Twitter'  target = '_blank' )
        

        h2.subtitle.-top Pessoas que ajudaram o projeto a criar vida:
        
        .author-boxes
            .author-box
                .photo: img( src = 'img/authors/michel-koga.jpg' alt = 'Michel Koga'  )
                h3.name Michel Koga
                .social-networks
                    a.fb(href = 'https://www.facebook.com/MichelKogaa?ref=br_rs' title = 'Facebook'  target = '_blank' )
                    a.in(href = 'https://www.instagram.com/kogamichel/' title = 'Instagram'  target = '_blank' )
                    a.tw(href = 'https://twitter.com/kogamichel' title = 'Twitter'  target = '_blank' )

            .author-box
                .photo: img( src = 'img/authors/juliana-maria.jpg' alt = 'Juliana Maria'  )
                h3.name Juliana Maria
                .social-networks
                    a.fb(href = 'https://www.facebook.com/profile.php?id=100001379626700' title = 'Facebook'  target = '_blank' )
                    a.in(href = 'https://www.instagram.com/julianamaria/' title = 'Instagram'  target = '_blank' )
                    a.tw(href = 'https://twitter.com/ijulianamaria' title = 'Twitter'  target = '_blank' )
    
    
    // Newsletter
    include ../includes/newsletter
