extends ../main


block vars
    - title = 'Sobre'


block content


    section.title-main
        h1.title.-line Sobre o Projeto

    // About
    main.about-block.-internal.-box

        p.desc Livro Sem Apego é um site de doação de livros, sem fins lucrativos, que tem o objetivo de espalhar conhecimento adiante e ajudar pessoas que estejam precisando de um livro, mas que não tem condições de comprá-lo, ou que simplesmente gostariam de ganhar um livro. E isso só se torna possível, graças às pessoas que cadastram os livros para doação.

        h2.subtitle O Site
        p.desc O site em si, é apenas um intermediador entre o doador e o interessado. Dessa forma, somos apenas responsáveis em mostrar os livros disponíveis para doação e facilitar a comunicação entre doador e interessado. 

        h2.subtitle Mas como funciona?
        p.desc A Mecânica de doação é bem simples. Basta que o doador faça um cadastro no site e insira algumas informações básicas sobre o livro como: foto, título, gênero, etc. Dessa forma, o livro fica disponível para doação e permite que o interessado entre em contato com o doador via <b>e-mail</b> para combinar a melhor forma de envio do livro.

        h2.subtitle Criadores
        p.desc O projeto foi criado por 2 alunos que estavam cursando Análise e Desenvolvimento de Sistemas no Centro Universitário N. Sra. Do Patrocínio (CEUNSP), como trabalho de conclusão de curso.

        .author-boxes
            .author-box
                .photo: img( src = 'img/authors/gustavo-feijo.jpg' alt = 'Gustavo Feijó'  )
                h3.name Gustavo F. Lima
                .social-networks
                    a.fb(href = 'https://www.facebook.com/gustavo.feijo.90' title = 'Facebook'  target = '_blank' )
                    a.in(href = 'https://www.instagram.com/gustavofeijo_/' title = 'Instagram'  target = '_blank' )
                    a.tw(href = 'https://twitter.com/GuustavoFeijoo' title = 'Twitter'  target = '_blank' )

            .author-box
                .photo: img( src = 'img/authors/mateus-alcova.jpg' alt = 'Mateus Alcova'  )
                h3.name Mateus Alcova
                .social-networks
                    a.fb(href = 'https://www.facebook.com/mateus.alcova' title = 'Facebook'  target = '_blank' )
                    a.in(href = 'https://www.instagram.com/mtsalcova/' title = 'Instagram'  target = '_blank' )
                    a.tw(href = 'https://twitter.com/mtsalcova' title = 'Twitter'  target = '_blank' )
        

        //- h2.subtitle.-top Pessoas que ajudaram o projeto a criar vida:
        
        //- .author-boxes
        //-     .author-box
        //-         .photo: img( src = 'img/authors/michel-koga.jpg' alt = 'Michel Koga'  )
        //-         h3.name Michel Koga
        //-         .social-networks
        //-             a.fb(href = 'https://www.facebook.com/MichelKogaa?ref=br_rs' title = 'Facebook'  target = '_blank' )
        //-             a.in(href = 'https://www.instagram.com/kogamichel/' title = 'Instagram'  target = '_blank' )
        //-             a.tw(href = 'https://twitter.com/kogamichel' title = 'Twitter'  target = '_blank' )

        //-     .author-box
        //-         .photo: img( src = 'img/authors/juliana-maria.jpg' alt = 'Juliana Maria'  )
        //-         h3.name Juliana Maria
        //-         .social-networks
        //-             a.fb(href = 'https://www.facebook.com/profile.php?id=100001379626700' title = 'Facebook'  target = '_blank' )
        //-             a.in(href = 'https://www.instagram.com/julianamaria/' title = 'Instagram'  target = '_blank' )
        //-             a.tw(href = 'https://twitter.com/ijulianamaria' title = 'Twitter'  target = '_blank' )
    
    
    // Newsletter
    include ../includes/newsletter
