extends ../main


block vars
    - title = 'Livros Disponíveis para Doação'
    - bodyjs = 'Books'
    - description = 'Listagem de livros Disponíveis para Doação em todo o Brasil, cadastrados por pessoas solidárias e que querem ver o conhecimento ser passado adiante.'
    - canonical = "http://livrosemapego.com.br/livros"

block content

    section.title-main.-alone
        h1.title.-line Livros Disponíveis para Doação

    list-books


