extends ../main


block vars
    - title = 'Livros Disponíveis'
    - bodyjs = 'Books'
    - description = 'Listagem de livros disponíveis para doação em todo o Brasil, cadastrados por pessoas solidárias e que querem verem o conhecimento ser espalhado.'


block content

    section.title-main.-alone
        h1.title.-line Livros Disponíveis para Doação

    list-books


