extends ../main


block vars
    - title = 'Livros Disponíveis para Doação'
    - bodyjs = 'Books'


block content

    section.title-main.-alone
        h1.title.-line Livros Disponíveis para Doação


    main.books-container

        .icon-filter

        // src/vue/components/FilterBooks
        filter-books

        // src/vue/components/ListBooks
        list-books

