extends ../main


block vars
    - title = 'Contato'
    - description = 'Possui alguma dúvida sobre o site? Quer dar uma sugestão de melhoria? Entre em contato conosco!'
    - canonical = "http://livrosemapego.com.br/contato"

block content

    section.title-main
        h1.title.-line Fale Conosco

    main.about-block.-internal.-box
        p.desc Possui alguma dúvida sobre o site? Quer dar uma sugestão de melhoria? <br> Nos envie uma mensagem ;)
        form-contact

