extends ../main


block vars
    - title = 'Redefinir Senha'


block content


    section.title-main.-alone
        h1.title.-line Redefinir Senha
    
    section.forget-password

        p.desc Esqueceu sua Senha? Não se preocupe, preencha seu e-mail abaixo que inviaremos instruções para a redefinição de senha.

        form.form-styl( method = 'post' )

            label.field-box
                span.name E-mail:
                input.field( type = 'email' name = 'email' )

            button.btn-main.-full Enviar
