extends ../main


block content


    // Search 
    section.header-search
        h1.title Tá afim de ganhar um livro?
        p.desc Faça uma pesquisa e descubra se o livro que você deseja <br>está disponível para doação ainda hoje (:
        
        form.search-form.-header( method = 'POST' )
            label.icon( for = 'search' ): svg: use( xlink:href="img/svg.svg#icon-search" )
            input.field( type = 'text' name = 'search' id = 'search' placeholder = 'Faça aqui sua pesquisa' )
            button.btn-main.-inside( data-text = 'pesquisar' )

        
    // Abour Project
    section.about-project
        h2.subtitle Sobre o projeto
        p.desc 
            | Livro sem Apego é um site de doação de livros, sem fins lucrativos.
            | A ideia do projeto surgiu através de uma necessidade de ajudar alguém que esteja 
            | precisando de um livro, mas não tem condições de comprá-lo ou simplesmente gostaria de ganhá-lo.

        h3 Criadores
        .author-boxes

            .author-box
                .photo: img( src = 'img/gustavo-feijo.jpg' alt = 'Gustavo Feijó'  )
                h4.name Gustavo F. Lima

            .author-box
                .photo: img( src = 'img/mateus-alcova.jpg' alt = 'Mateus Alcova'  )
                h4.name Mateus Alcova

        a.btn-main( href = '' ) Saiba mais


    
    // How it Works
    section.how-works

        h2.subtitle Como funciona?
        p.desc É muito simples e fácil, dá só uma olhada:
        
        .process-steps

            .step-box
                .icon: img( src = 'img/icone-tela-cadastro.png' )
                h3.name 1
                p.desc Escolha o livro que deseja doar e faça seu cadastro
            
            .step-box
                .icon: img( src = 'img/icone-tela-painel.png' )
                h3.name 2
                p.desc No seu painel, cadastre todas as informações sobre o livro
            
            .step-box
                .icon: img( src = 'img/icone-tela-livros.png' )
                h3.name 3
                p.desc Seu livro será publicado e ficará disponível para doação
            
            .step-box
                .icon: img( src = 'img/icone-livro-sem-apego.png' )
                h3.name 4
                p.desc Prontinho! Agora é só esperar alguém entrar em contato

        a.btn-main( href = '' ) Doe um livro

    
    // Newsletter
    include ../includes/newsletter
