extends ../main


block vars
    - title = 'Login'


block content


    section.title-main.-alone
        h1.title.-line Acesse sua Conta :)
    
    section.login-box

        form.form-styl( method = 'post' )

            label.field-box
                span.name E-mail:
                input.field( type = 'text' name = 'email' )
            
            label.field-box
                span.name Senha:
                input.field( type = 'password' name = 'pass' )

            button.btn-main.-full Entrar
            a.forgetpass( href = 'forget-password.html' ) Esqueceu sua senha?


        .social
            .item.-fb: svg: use( xlink:href = 'img/svg.svg#icon-fb' )   
            .item.-gg: svg: use( xlink:href = 'img/svg.svg#icon-gg' )   

        a.register( href = 'register.html' )  Ainda não possui uma conta? <strong>Criar Conta</strong>








    
