extends ../main


block vars
    - title = 'Login'


block content

    section.title-main.-alone
        h1.title.-line Acesse sua Conta :)
    
    section.login-page
        
        login
            img( src = 'img/preloader/login.png' class = 'preloader' )
        
        //- .login-social.-border
        //-     .item.-fb: svg: use( xlink:href = 'img/svg.svg#icon-fb' )   
        //-     .item.-gg: svg: use( xlink:href = 'img/svg.svg#icon-gg' )   

        a.register( href = 'create-account.html' )  Ainda não possui uma conta? <strong>Criar Conta</strong>








    
