extends ../main


block vars
    - title = 'Painel do Usuário'
    - bodyjs = 'User'


block content

    include ../includes/user-panel-title
    section.user-panel

        include ../includes/user-sidebar
        main.content

            .header-panel
                h1.title <span>Seja Bem vindo</span>, Mateus Alcova!
                p.desc Aqui você terá acesso as suas informações de perfil, cadastrar livros para doação, entre outras coisas! :)

            .donated-books

                h2.title Últimos livros cadastrados:
                //- p.nobooks Ops, não encontramos nenhum livro. <a>Clique aqui</a> para fazer sua primeira doação :)

                .donated-book
                    .image: img( src = 'img/books/cover.jpg' )
                    .infos
                        h2.name O Mundo de Sofia
                        h3.author Jostein Gaarder
                        p Contatos Enviados: <strong>12</strong>
                        p Data do Cadastro: <strong>21/04/2017</strong>

                        .status-book
                            p Mostrar no site:
                            .status
                                input( type = 'checkbox' id = 'status' )
                                label( for = 'status' )
                    
                    a.btn-main( href = '' ) + Informações


