extends ../main


block vars
    - title = 'Painel do Usuário'


block content

    include ../includes/user-panel-title
    section.user-panel

        include ../includes/user-sidebar
        main.content

            .header-panel
                a.btn-main( href = '' ) + Doar Livros
                h1.title Livros
                p.desc Listagem de livros cadastrados para doação.
            
            .donated-books
                //- p.nobooks Ops, não encontramos nenhum livro. <a>Clique aqui</a> para fazer sua primeira doação :)

                .donated-book
                    .image: img( src = 'img/books/cover.jpg' )
                    .infos
                        h2.name O Mundo de Sofia
                        h3.author Jostein Gaarder
                        p Contatos Enviados: <strong>12</strong>
                        p Data do Cadastro: <strong>21/04/2017</strong>

                        .status-book
                            p Mostrar no site:
                            .status
                                input( type = 'checkbox' id = 'status' )
                                label( for = 'status' )
                    
                    a.btn-main( href = '' ) + Informações

