extends ../main


block vars
    - title = 'Painel do Usuário'
    - bodyjs = 'User'


block content

    include ../includes/user-panel-title
    section.user-panel

        include ../includes/user-sidebar
        main.content

            .header-panel
                h1.title <span>Seja Bem vindo</span>, Mateus Alcova!
                p.desc Aqui você terá acesso as suas informações de perfil, cadastrar livros para doação, entre outras coisas! :)

            panel-dashboard

           
