extends ../main


block vars
    - title = 'Meus Dados'
    - bodyjs = 'User'


block content

    include ../includes/user-panel-title
    section.user-panel

        panel-aside
            img( src = 'img/preloader/aside-panel.jpg' class = 'preloader' )

        panel-profile
            img( src = 'img/preloader/content-panel.png' class = 'preloader' )
