extends ../main


block vars
    - title = 'Meus Dados'


block content

    include ../includes/user-panel-title
    section.user-panel

        include ../includes/user-sidebar
        main.content

            .header-panel
                h1.title Editar Cadastro
            
            form.form-styl( method = 'post' )

                label.field-box
                    span.name Nome:
                    input.field( type = 'text' name = 'name' )

                label.field-box
                    span.name E-mail:
                    input.field( type = 'email' name = 'email' )

                label.field-box.-cep
                    span.name CEP:
                    input.field( type = 'text' name = 'name' )
                    a( href = 'http://www.buscacep.correios.com.br/' target = '_blank' ) Não sei meu cep

                .field-box.-picture
                    span.name Foto de Perfil: <strong>(Tamanho Máx. 5MB e Extensão .png ou .jpg)</strong>
                    .photo
                        svg: use( xlink:href = 'img/svg.svg#icon-profile-photo' )
                        input( type = 'file' )
                
                label.field-box.-border
                    span.name Nova Senha:
                    input.field.-pass( type = 'password' name = 'pass' )

                label.field-box
                    span.name Confirme a nova senha:
                    input.field.-pass( type = 'password' name = 'cpass' )


                button.btn-main Editar Cadastro

