extends ../main


block vars
    - title = 'Redefinir Senha'


block content

    include ../includes/user-panel-title
    section.user-panel

        include ../includes/user-sidebar
        main.content

            .header-panel
                h1.title Redefinir Senha
            
            form.form-styl( method = 'post' )

                label.field-box
                    span.name Nova Senha:
                    input.field.-pass( type = 'password' name = 'pass' )

                label.field-box
                    span.name Confirme a senha:
                    input.field.-pass( type = 'password' name = 'cpass' )
                
                button.btn-main Redefinir Senha

